NodeRed.json
[{"id":"d3836885.130698","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"51c22b10.84c384","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"8788b5f0.0b6828","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"b62fe0c1.13fa6","type":"ui_group","z":"","name":"Default","tab":"8788b5f0.0b6828","order":1,"disp":true,"width":"6","collapse":false},{"id":"52b768c6.cd92b8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"b1b11140.4e4ef","type":"inject","z":"d3836885.130698","name":"","topic":"","payload":"Hello Node-RED!","payloadType":"string","repeat":"","crontab":"","once":false,"x":141,"y":61,"wires":[["f2f2649a.0d0d98"]]},{"id":"f2f2649a.0d0d98","type":"debug","z":"d3836885.130698","name":"","active":true,"console":"false","complete":"false","x":401,"y":87,"wires":[]},{"id":"c9fdedfa.1de4d","type":"ui_form","z":"51c22b10.84c384","name":"","label":"","group":"b62fe0c1.13fa6","order":0,"width":0,"height":0,"options":[{"label":"Year","value":"a","type":"number","required":true,"rows":null},{"label":"Adult Mortality","value":"b","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"c","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"d","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"e","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"f","type":"number","required":true,"rows":null},{"label":"Measles","value":"g","type":"number","required":true,"rows":null},{"label":"BMI","value":"h","type":"number","required":true,"rows":null},{"label":"under-five deaths","value":"i","type":"number","required":true,"rows":null},{"label":"Polio","value":"j","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"k","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"l","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"m","type":"number","required":true,"rows":null},{"label":"thinness  1-19 years","value":"n","type":"number","required":true,"rows":null},{"label":"thinness 5-9 years","value":"o","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"p","type":"number","required":true,"rows":null},{"label":"Schooling","value":"q","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":80,"y":360,"wires":[["9832d3fc.13414"]]},{"id":"9832d3fc.13414","type":"function","z":"51c22b10.84c384","name":"pre_token","func":"global.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\n\nvar apikey= \"ulC-LylQb6uYnMs35C-PVOIT7jy4dODCKpXY2V4bzCZ0\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":220,"wires":[["da6ff52d.919bd8"]]},{"id":"c0403723.5e0388","type":"function","z":"51c22b10.84c384","name":"","func":"var token=msg.payload.access_token;\nvar instance_id= \"9a314e66-0858-4938-8a51-45572e60296f\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer\"+token,\"ML-Instance-ID\":instance_id}\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\n\nmsg.payload={\"fields\":[\"Year\", \"Adult Mortality\",\n       \"infant deaths\", \"Alcohol\", \"percentage expenditure\", \"Hepatitis B\",\n       \"Measles \", \" BMI \", \"under-five deaths \", \"Polio\", \"Total expenditure\",\n       \"Diphtheria \", \" HIV/AIDS\",\" thinness  1-19 years\", \" thinness 5-9 years\",\n       \"Income composition of resources\", \"Schooling\"],\n       \"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q]]};\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":420,"wires":[["8f415fb3.df7f9"]]},{"id":"8c99e1aa.49b91","type":"function","z":"51c22b10.84c384","name":"","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":140,"wires":[["a6787e12.b1ed5","61adf9d0.1f5258"]]},{"id":"da6ff52d.919bd8","type":"http request","z":"51c22b10.84c384","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":280,"y":100,"wires":[["c0403723.5e0388"]]},{"id":"8f415fb3.df7f9","type":"http request","z":"51c22b10.84c384","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/9a314e66-0858-4938-8a51-45572e60296f/deployments/de27e85a-ee07-4480-a498-f3e53e3626b6/online","tls":"","persist":false,"proxy":"","authType":"","x":540,"y":320,"wires":[["201544eb.57743c","8c99e1aa.49b91"]]},{"id":"201544eb.57743c","type":"debug","z":"51c22b10.84c384","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":820,"y":280,"wires":[]},{"id":"a6787e12.b1ed5","type":"debug","z":"51c22b10.84c384","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":860,"y":80,"wires":[]},{"id":"61adf9d0.1f5258","type":"ui_text","z":"51c22b10.84c384","group":"b62fe0c1.13fa6","order":1,"width":0,"height":0,"name":"","label":"LIFE-EXPECTANCY","format":"{{msg.payload}}","layout":"row-spread","x":860,"y":200,"wires":[]}]